<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>假条请求</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card style="margin-left: 0;margin-right: 0;" *ngFor="let order of orders">
      <ion-item>
        <ion-label>病人:{{order?.patient.name}}</ion-label>
        <ion-note slot="end" [routerLink]="['/chat',order?.patient.id? order.patient.id : order.patient]">联系学生</ion-note>
      </ion-item>
  
      <ion-card-content>
        <ion-item>
          <ion-note slot="start">医生</ion-note>
          <ion-label>{{order?.doctor.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">假条状态</ion-note>
          <ion-label>{{order.state === 'inactive' ? '未同意' : '已同意'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">开始时间</ion-note>
          <ion-label>{{order.startDate | date: 'yyyy-MM-dd'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">结束时间</ion-note>
          <ion-label>{{order.endDate | date: 'yyyy-MM-dd'}}</ion-label>
        </ion-item>
        <ion-list *ngIf="this.applyState">
          <ion-item>
            <ion-note>诊断建议</ion-note>
            <ion-input [(ngModel)]='order.reason'></ion-input>
          </ion-item>
        </ion-list>
        <ion-item lines="none">
          <ion-button fill="outline" slot="start" *ngIf="!this.applyState" (click)="agree()">同意申请</ion-button>
          <ion-button fill="outline" slot="end" *ngIf="!this.applyState" (click)="disagree()">驳回申请</ion-button>
          <ion-button fill="outline" slot="start" *ngIf="this.applyState" (click)="updateBill(order)">确认</ion-button>
          <ion-button fill="outline" slot="end" *ngIf="this.applyState" (click)="updateBill(order)">取消</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>