<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngTemplateOutlet]="officeTemplate" *ngIf="template === 'officeTemplate'">

  </ng-container>
  <ng-container [ngTemplateOutlet]="workforceTemplate" *ngIf="template === 'workforceTemplate'">

  </ng-container>

  <ng-template #officeTemplate>
    <ion-searchbar placeholder="请输入科室"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let office of offices" (click)="findDoctor(office)">
        <ion-label>
          {{office.name}}
        </ion-label>
      </ion-item>

    </ion-list>
  </ng-template>

  <ng-template #workforceTemplate>

    <ion-grid>
      <ion-row>
        <ion-col>
          不限
        </ion-col>
        <ion-col>
          周一
        </ion-col>
        <ion-col>
          周二
        </ion-col>
        <ion-col>
          周三
        </ion-col>
        <ion-col>
          周四
        </ion-col>
        <ion-col>
          周五
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>医生列表</ion-card-subtitle>
      </ion-card-header>
      <!-- <ion-list>
        <ion-item *ngFor="let office of offices">
          
          <ion-label>
            {{office.name}}
          </ion-label>
          <ion-button slot="end">
            预约
          </ion-button>
        </ion-item>

      </ion-list> -->
      <ion-row wrap *ngFor="let doctor of officeDoctors">
        <div class="list-item">
          <div>
            <img
              src="../../../assets/img/doctor.png"
              alt="" />
          </div>
          <div>
            <p>{{doctor.name}}</p>
            <p>{{selectedOffice.name}}</p>
          </div>
          <div [routerLink]="['/tabs/tab1/registration/doctor',doctor.id]">
            预约
          </div>
        </div>

      </ion-row>
    </ion-card>

  </ng-template>

  <ng-template #doctorMain>


  </ng-template>

</ion-content>