<ion-header>
  <ion-toolbar>
    <ion-title>
      首页
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <div *ngIf="user.role=='student'">
    <div class="predict" (click)="nav('registration')">
      <img src="../../assets/img/shida.jpg">
    </div>


    <ion-list lines="none">
      <ion-list-header>
        <ion-label>我的健康</ion-label>
      </ion-list-header>
      <ion-item (click)="nav('registration')">
        <ion-icon slot="start" color="medium" src="../../assets/img/guahao.svg"></ion-icon>
        <ion-label>预约挂号</ion-label>
      </ion-item>
      <ion-item (click)="nav('order')">
        <ion-icon slot="start" color="medium" src="../../assets/img/guahaojilu.svg"></ion-icon>
        <ion-label>我的预约</ion-label>
      </ion-item>
      <ion-item (click)="nav('history')">
        <ion-icon slot="start" color="medium" src="../../assets/img/history.svg"></ion-icon>
        <ion-label>就诊记录</ion-label>
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label>我的预约</ion-label>
    </ion-list-header>

    <ion-card style="margin-left: 0;margin-right: 0;" *ngFor="let registration of registrations">
      <ion-item>
        <ion-label>就诊人:{{registration.patient.name}}</ion-label>
        <ion-note slot="end">挂号成功</ion-note>
      </ion-item>

      <ion-card-content>
        <ion-item>
          <ion-note slot="start">就诊科室</ion-note>
          <ion-label>{{registration.office.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">预约时间</ion-note>
          <ion-label>{{registration.date | date: 'yyyy-MM-dd'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">就诊时间</ion-note>
          <ion-label>{{registration.workforce.date + registration.workforce.timeQuantum | myDatePipe}}</ion-label>
        </ion-item>
        <!--   
        <ion-item lines="none">
          <ion-button fill="outline" slot="end">申请假条</ion-button>
        </ion-item> -->
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="user.role=='doctor'">
    <div class="predict" (click)="nav('registration')">
      <img src="../../assets/img/shida.jpg">
    </div>


    <ion-list lines="none">
      <ion-list-header>
        <ion-label>我的病人</ion-label>
      </ion-list-header>
      <ion-item (click)="nav('order')">
        <ion-icon slot="start" color="medium" src="../../assets/img/guahaojilu.svg"></ion-icon>
        <ion-label>我的预约</ion-label>
      </ion-item>
      <ion-item (click)="nav('order_apply')">
        <ion-icon slot="start" color="medium" src="../../assets/img/guahao.svg"></ion-icon>
        <ion-label>假条请求</ion-label>
      </ion-item>

    </ion-list>

  </div>

</ion-content>