<ion-header>
  <ion-toolbar>
    <ion-title>
      聊天
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="搜索联系人"></ion-searchbar>
  <ion-list>

    <ion-item *ngFor="let data of contacts" [routerLink]="['/chat',data.message.from==user.id?data.message.to:data.message.from]">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/girl.png">
      </ion-thumbnail>
      <ion-label>
        <h2>{{data.contact.name}}</h2>
        <p>{{data.message.detail}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>